﻿
@{
    ViewBag.Title = "Index";
}
<h2>分數代碼查詢</h2>
<form method="post" action="@Url.Action("Index")">
    <input type="text" name="score" value="" />分<br />

    <input type="submit" value="查詢" />
</form>
<br />
分數： @ViewBag.Score <br />
代碼： @ViewBag.level


